<header class="wrap navbar-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"><h1><i class="fa fa-leaf"></i> PvP Stats</h1></div>
        </div>
    </div>
</header>