body, html {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    background-color: #FFFFED;
}

header {
    background-color: #333333;
    color: #FFFFFF;
}

header h1 {
    line-height: 3em;
}

#content-main {
    background-color: #FFFFED;
}

#graphs h1 {
    text-align: center;
}